img{
	height:150px;
	width:150px;
}
a{
	padding:20px;
}
h3{
	border:1px solid grey;
	padding:5px;
}
a{
	padding-bottom: 20px;
}
.drop:after {
  transition: 50s;
}
.row1{
	background-color:grey; 
}
@media only screen and (max-width: 600px) {
    .row h3 {
        text-align:center;
        margin-left:322px;"
    }
}